<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KimMilyonerOlmakIster.Properties.Settings.QuizDBConnectionString"
            connectionString="Data Source=DESKTOP-N44Q8O7;Initial Catalog=QuizDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>